* {
    font-family: "Poppins", sans-serif;
}

a {
    color: rgb(91, 91, 91);
    font-size: smaller;
}

body {
    margin: 0;
    padding: 0;
}

@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    border-bottom: 2px solid;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-family: "DM SANS";
    font-size: 60px;
    font-weight: 400;
    animation: fadeSlideIn 1s ease-out forwards;
}

.header p {
    opacity: 0;
    animation: fadeSlideIn 1.5s ease-out forwards;
    animation-delay: 0.3s;
}

.container {
    margin-top: 10px;
    border-bottom: 2px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.column {
    /*flex: 1;*/
    padding: 10px;
}

.column:first-child {
    flex: 1; 
}

.column:last-child {
    flex: 2;  
}

.column img {
    max-width: 100%;
    height: auto;
}

.button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 5px;
}

.button-box { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 25px;
    width: 80%;
    height: 6px;
    border-radius: 3px;
    background: #ddd;
    outline: none;
    border: none;
    transition: background 0.2s;
}

.slider:hover {
    background: #bbb;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #ddd;
}

.slider::-moz-range-track {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #ddd;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: -4px;
}

.slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
    transition: background 0.2s;
}

.slider::-webkit-slider-thumb:hover {
    background: #222;
}